/*

Er.Suheb

https://www.linkedin.com/in/er-suheb-3b9824214/

*/  

/*------------------------------------------------------------- 
	1. IMPORT FILES
-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/**-- font-family: 'Raleway', sans-serif; --**/


/*------------------------------------------------------------- 
	2. BASE CSS 
-------------------------------------------------------------*/


body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 0px;
	overflow-x: hidden;
	padding: 0px;
}


h1,
h2,
h3,
h4,
h5 {
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a,
a:hover,
a:focus {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
	transition: ease all 0.5s;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	outline: none;
	border: none;
	resize: none;
}


/*------------------------------------------------------------- 
	2. HEADER 
-------------------------------------------------------------*/



/*== Logo ==*/




/*------------------------------------------------------------- 
	4. PAGE CONTENT PRODUCT
-------------------------------------------------------------*/



.main-product {

	background-image:linear-gradient(to bottom right, rgba(20, 124, 98, 0), #b68d8d);
	padding-bottom: 40px;
	background-position: center center;
}

.find-box {
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	padding: 40px 1px 35px 1px;
}

.find-box h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	background: linear-gradient(to right, #EE3B60 , #5d5dac);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 60px;
	text-align:center;
	padding-bottom: 10px;
	opacity: 80%;
}
.find-box h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-align: center;
	padding-bottom: 20px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #8d1d55;
	opacity: 50%;
}


.box-img {
	
	text-align: center;
	padding-bottom: 30px;
	min-height: 280px;
	margin-bottom: 30px;
	position: relative;
	border-radius: 20px;
	transition: ease all 0.5s;
	box-shadow:  inset 0 -3em 2em rgba(128, 2, 75, 0.1),
	
	0.3em 0.3em 1em rgba(63, 2, 112, 0.5);
	
}
.blur-img {
	
	text-align: center;
	padding-bottom: 30px;
	min-height: 280px;
	margin-bottom: 30px;
	position: relative;
	border-radius: 20px;
	transition: ease all 0.5s;
	box-shadow:  inset 0 -3em 2em rgba(128, 2, 75, 0.1),
	
	0.3em 0.3em 1em rgba(63, 2, 112, 0.5);
	
	
}
.blur-img img{
	filter: blur(10px);
}

.blur-img h6{
	background: linear-gradient(to right, #536876 , #2c3e50);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top: 9px;
	font-size: 17px;
	font-weight: 900;
	transition: all 0.1s ease 0s;
	letter-spacing: 1px;
	opacity: 70%;
	

}
.blur-img:hover {
	cursor: pointer;
	transform: scale(1.06);
	background: #eeeeee;
}

.box-img h4 {
	
	background: linear-gradient(to right, #EE3B60 , #5d5dac);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top: 9px;
	font-size: 17px;
	font-weight: 900;
	transition: all 0.1s ease 0s;
	letter-spacing: 1px;
}

.box-img h6 {
	
	background: linear-gradient(to right, #ee0000 , #ffdb0f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top: 9px;
	font-size: 17px;
	font-weight: 900;
	transition: all 0.1s ease 0s;
	letter-spacing: 1px;
}

.box-img:hover {
	cursor: pointer;
	transform: scale(1.06);
	background: #eeeeee;
}

/*------------------------------------------------------------- 
	8. INNER PAGE 
-------------------------------------------------------------*/

/*-- Pricing --*/

/*-- Product Page --*/

.product-page {
	padding-bottom: 0px;
}

.product-page-main {
	background: #ada1a1;
}

.prod-page-title {
	padding: 20px 0px;
}

.prod-page-title h2 {
	font-size: 25px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 12px;
}

.prod-page-title p {
	margin: 0px;
	font-size: 13px;
	color: #ababab;
}

.prod-page-title p span {
	color: #3ba2ff;
}

.prod-page {
	margin-left: 0px;
}



.md-prod-page {
	-webkit-box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
}

.md-prod-page-in {
	
	padding: 10px;
	background: rgb(236, 234, 234);
	
}

img {
	width:  100%;
}


.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 20px;
	
	
}

@media screen and (max-width: 996px) {
	.preview {
		
		margin-top: 10px;
}
}


.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	
	

}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
	width: 24%;
	margin: 0 0.5%;
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display:block;
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
	border-radius: 2px;
	border: 3px solid #ddd;
}

.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}

.tab-content {
	overflow: hidden;
}

.preview-pic.tab-content {
	border: 3px solid #ddd;
	width: 99%;
	margin: 0.5%;
}

.tab-content img {
	width: 100%;
	
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

.preview-thumbnail.nav-tabs li.active a {
	border: 3px solid #19a7ac;
}

.btn-dit-list {
	padding-top: 30px;
}

.left-dit-p {
	float: left;
}

.right-dit-p {
	float: right;
}

.left-dit-p p {
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #acacac;
	margin: 0px;
}

.right-dit-p .like-list {
	padding: 2px 0px;
}

.description-box {
	padding-top: 22px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 10px;
	background: #fff;
}

.description-box h4 {
	font-size: 15px;
	font-weight: 700;
	padding-bottom: 10px;
}

.description-box p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #626262;
	line-height: 24px;
}

.dex-a {
	padding-bottom: 25px;
}

.description-box h5 {
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 0px;
	line-height: 34px;
	color: #585858;
	border-right: 1px solid #eeeeee;
}

.spe-a {
	padding-bottom: 25px;
}

.spe-a ul {
	margin: 0px;
	padding: 0px;
}

.spe-a ul li p {
	line-height: 34px;
}

.spe-a ul li {
	border-bottom: 1px solid #eeeeee;
}

.spe-a ul li .col-md-4 {
	padding-left: 0px;
}

.similar-box {
	padding: 40px 0px;
}

.similar-box h2 {
	font-size: 18px;
	color: #343331;
	font-weight: 700;
}

/*-- New Layout css --*/

.start-free-box div.container {
	position: relative;
}

.bg_img_left {
	background-position: 142% center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	padding: 0;
	position: absolute;
	right: -45%;
}

.bg_img_right {
	background-position: 142% center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	padding: 0;
	position: absolute;
	left: -45%;
}

.bg_img_left img,
.bg_img_right img {
	width: 100%;
}
